html body{
    background: rgba(241, 241, 241, 0.831);
    overflow-x: hidden;
    /* background-image: url(./assets/6.jpg); */
}
.navbar-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 0px 30px;
    box-shadow: 0 5px 15px 0 rgb(0,0,0,.25);
    width: 70%;
    height:70px;
    border-radius: 50px;
    margin-right: -3rem;
    z-index: 9999;
    /* background: transparent; */
    
}
.main-class{
    display: flex;
    margin-top: 15px;
    /* background: transparent; */
}
.img img{
    width: 30%;
    margin-top: 10px;
    margin-left: 10%;
    z-index: 9999;
    position: relative;
}
/* .logo{
    color:#222;
    font-size: 2rem;
    cursor: pointer;
} */
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    list-style-type: none;
    grid-gap:35px;
    align-items: center;
    padding-right: 0px;
}
.nav-links{
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 60;
    padding: 0.7rem 1rem;
}
.nav-links:hover{
    background-color: DodgerBlue;
    color: white;
    border-radius: 25px;
}
.menu-icons{
    display: none;
}

@media  screen and (max-width:850px){
    .navbar-items{
        z-index: 99;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: white;
        box-shadow: 0 5px 15px 0 rgb(0,0,0,.25);
        width: 100%;
        height: auto;
        position: absolute;
        top: 12%;      
        left: -100%;     
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
    }
    .nav-menu.active{
        left: 0;
        opacity: 1;
        height: 100%;
        z-index: 1;
    }
    .nav-links{
        display: block;
        width: 100%;
        font-size: 2rem 0;    
    }
    .menu-icons{
        display: block;
        margin: 3rem;
    }
   
  
   
    
}